<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeaderBoard</title>
    <link rel="stylesheet" href="leaderboard.css">
</head>
<body>
    <a href="expense.html" class="backbtn">←</a>
    <section class="leader-section">


        <div class="usersdata">
            <h1>All Users</h1>
            <div id="lb">  
            </div>
            <div id="details">
            </div>
        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="leaderBoard.js"></script>
</body>
</html>